<?xml version="1.0" encoding="UTF-8"?>
<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
	<services>
		<service id="scheb_two_factor.entity_manager" class="Doctrine\Common\Persistence\ObjectManager">
			<factory service="doctrine" method="getManager" />
			<argument>%scheb_two_factor.model_manager_name%</argument>
		</service>

		<service id="scheb_two_factor.persister.doctrine" class="Scheb\TwoFactorBundle\Model\DoctrinePersister" lazy="true">
			<argument type="service" id="scheb_two_factor.entity_manager" />
		</service>

		<service id="scheb_two_factor.persister" alias="scheb_two_factor.persister.doctrine" />
	</services>
</container>
