* text=auto

/.ci-tools export-ignore
/.github export-ignore
/doc export-ignore
/tests export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/castor.php export-ignore
