* text=auto

/doc export-ignore
/tests export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/ecs.php export-ignore
/rector.php export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore
