language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7
    - hhvm

before_script:
    - composer install --no-interaction

script:
    - php vendor/bin/phpunit --coverage-clover ./clover.xml

after_success:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover ./clover.xml
