parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Variable property access on \$this\(OTPHP\\OTP\)\.#'
        - '#^Method OTPHP\\OTP::generateSecret\(\) should return non-empty-string but returns string\.$#'

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
