parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Variable property access on \$this\(OTPHP\\OTP\)\.#'
            path: src/ParameterTrait.php
            count: 1
        -
            message: '#^Method OTPHP\\OTP::generateSecret\(\) should return non-empty-string but returns string\.$#'
            path: src/OTP.php
            count: 1
        -
            message: '#^Cannot cast mixed to int\.$#'
            path: src/HOTP.php
            count: 1
        -
            message: '#^Parameter \#\d .* of class OTPHP\\Url constructor expects .*\, .* given\.$#'
            path: src/Url.php
            count: 2
        -
            message: "#^Method OTPHP\\\\InternalClock\\:\\:now\\(\\) should return DateTimeImmutable but returns DateTimeImmutable\\|false\\.$#"
            count: 1
            path: src/InternalClock.php

        -
            message: "#^Method OTPHP\\\\Test\\\\ClockMock\\:\\:now\\(\\) should return DateTimeImmutable but returns DateTimeImmutable\\|false\\.$#"
            count: 1
            path: tests/ClockMock.php

        -
            message: "#^Parameter \\#1 \\$dateTime of method OTPHP\\\\Test\\\\ClockMock\\:\\:setDateTime\\(\\) expects DateTimeImmutable\\|null, DateTimeImmutable\\|false given\\.$#"
            count: 5
            path: tests/TOTPTest.php

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
