<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
      <directory>./doc</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="OTP Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener">
      <arguments>
        <array>
          <element key="time-sensitive"><string>OTPHP</string></element>
          <element key="time-sensitive"><string>OTPHP\TOTP</string></element>
        </array>
      </arguments>
    </listener>
    <listener class="Symfony\Bridge\PhpUnit\CoverageListener" />
  </listeners>
</phpunit>
