parameters:
	ignoreErrors:
		-
			rawMessage: '''
				Call to deprecated method setIssuer() of interface OTPHP\OTPInterface:
				Deprecated since v11.4, use {@see self::withIssuer()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/Factory.php

		-
			rawMessage: '''
				Call to deprecated method setIssuerIncludedAsParameter() of interface OTPHP\OTPInterface:
				Deprecated since v11.4, use {@see self::withIssuerIncludedAsParameter()} instead
			'''
			identifier: method.deprecated
			count: 2
			path: ../src/Factory.php

		-
			rawMessage: '''
				Call to deprecated method setLabel() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withLabel()} instead
			'''
			identifier: method.deprecated
			count: 2
			path: ../src/Factory.php

		-
			rawMessage: '''
				Call to deprecated method setParameter() of interface OTPHP\OTPInterface:
				Deprecated since v11.4, use {@see self::withParameter()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/Factory.php

		-
			rawMessage: '''
				Call to deprecated method setCounter() of class OTPHP\HOTP:
				Deprecated since v11.4, use {@see self::withCounter()} instead
			'''
			identifier: method.deprecated
			count: 2
			path: ../src/HOTP.php

		-
			rawMessage: '''
				Call to deprecated method setDigest() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withDigest()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: '''
				Call to deprecated method setDigits() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withDigits()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: '''
				Call to deprecated method setParameter() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withParameter()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: 'Parameter #1 $secretSize of static method OTPHP\HOTP::generate() expects int<1, max>|null, int|null given.'
			identifier: argument.type
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: @@readonly property OTPHP\OTP::$issuer is assigned outside of the constructor.
			identifier: property.readOnlyByPhpDocAssignNotInConstructor
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: @@readonly property OTPHP\OTP::$issuer_included_as_parameter is assigned outside of the constructor.
			identifier: property.readOnlyByPhpDocAssignNotInConstructor
			count: 2
			path: ../src/OTP.php

		-
			rawMessage: @@readonly property OTPHP\OTP::$label is assigned outside of the constructor.
			identifier: property.readOnlyByPhpDocAssignNotInConstructor
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: @@readonly property OTPHP\OTP::$parameters is assigned outside of the constructor.
			identifier: property.readOnlyByPhpDocAssignNotInConstructor
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: @@readonly property cannot have a default value.
			identifier: property.readOnlyByPhpDocDefaultValue
			count: 4
			path: ../src/OTP.php

		-
			rawMessage: '''
				Call to deprecated method setParameter() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withParameter()} instead
			'''
			identifier: method.deprecated
			count: 6
			path: ../src/OTP.php

		-
			rawMessage: '''
				Call to deprecated method setSecret() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withSecret()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::generateSecret() should return non-empty-string but returns string.'
			identifier: return.type
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Parameter #1 $value of method OTPHP\OTP::hasColon() expects non-empty-string, string given.'
			identifier: argument.type
			count: 2
			path: ../src/OTP.php

		-
			rawMessage: 'Property OTPHP\OTP::$issuer (non-empty-string|null) does not accept mixed.'
			identifier: assign.propertyType
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Property OTPHP\OTP::$label (non-empty-string|null) does not accept mixed.'
			identifier: assign.propertyType
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: '''
				Call to deprecated method setDigest() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withDigest()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: '''
				Call to deprecated method setDigits() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withDigits()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: '''
				Call to deprecated method setEpoch() of class OTPHP\TOTP:
				Deprecated since v11.4, use {@see self::withEpoch()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: '''
				Call to deprecated method setParameter() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withParameter()} instead
			'''
			identifier: method.deprecated
			count: 2
			path: ../src/TOTP.php

		-
			rawMessage: '''
				Call to deprecated method setPeriod() of class OTPHP\TOTP:
				Deprecated since v11.4, use {@see self::withPeriod()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 4
			path: ../src/TOTP.php

		-
			rawMessage: 'Parameter #2 $secretSize of static method OTPHP\TOTP::generate() expects int<1, max>|null, int|null given.'
			identifier: argument.type
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Parameter #5 $query of class OTPHP\Url constructor expects array<non-empty-string, mixed>, array<int|string, array<mixed>|string> given.'
			identifier: argument.type
			count: 1
			path: ../src/Url.php
