parameters:
	ignoreErrors:
		-
			rawMessage: '''
				Call to deprecated method setIssuer() of interface OTPHP\OTPInterface:
				Deprecated since v11.4, use {@see self::withIssuer()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/Factory.php

		-
			rawMessage: '''
				Call to deprecated method setIssuerIncludedAsParameter() of interface OTPHP\OTPInterface:
				Deprecated since v11.4, use {@see self::withIssuerIncludedAsParameter()} instead
			'''
			identifier: method.deprecated
			count: 2
			path: ../src/Factory.php

		-
			rawMessage: '''
				Call to deprecated method setLabel() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withLabel()} instead
			'''
			identifier: method.deprecated
			count: 2
			path: ../src/Factory.php

		-
			rawMessage: '''
				Call to deprecated method setParameter() of interface OTPHP\OTPInterface:
				Deprecated since v11.4, use {@see self::withParameter()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/Factory.php

		-
			rawMessage: Control structures using switch should not be used.
			identifier: ergebnis.noSwitch
			count: 1
			path: ../src/Factory.php

		-
			rawMessage: 'Method OTPHP\Factory::loadFromProvisioningUri() has parameter $clock with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/Factory.php

		-
			rawMessage: 'Method OTPHP\Factory::loadFromProvisioningUri() has parameter $clock with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/Factory.php

		-
			rawMessage: '''
				Call to deprecated method setCounter() of class OTPHP\HOTP:
				Deprecated since v11.4, use {@see self::withCounter()} instead
			'''
			identifier: method.deprecated
			count: 2
			path: ../src/HOTP.php

		-
			rawMessage: '''
				Call to deprecated method setDigest() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withDigest()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: '''
				Call to deprecated method setDigits() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withDigits()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: '''
				Call to deprecated method setParameter() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withParameter()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: Class "OTPHP\HOTP" is not allowed to extend "OTPHP\OTP".
			identifier: ergebnis.noExtends
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: 'Method OTPHP\HOTP::create() has parameter $secret with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: 'Method OTPHP\HOTP::create() has parameter $secret with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: 'Method OTPHP\HOTP::getWindow() has parameter $window with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: 'Method OTPHP\HOTP::verify() has parameter $counter with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: 'Method OTPHP\HOTP::verify() has parameter $counter with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: 'Method OTPHP\HOTP::verify() has parameter $window with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: 'Method OTPHP\HOTP::verify() has parameter $window with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: 'Method OTPHP\HOTP::verifyOtpWithWindow() has parameter $window with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/HOTP.php

		-
			rawMessage: 'Method OTPHP\HOTPInterface::create() has parameter $secret with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/HOTPInterface.php

		-
			rawMessage: 'Method OTPHP\HOTPInterface::create() has parameter $secret with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/HOTPInterface.php

		-
			rawMessage: @@readonly property OTPHP\OTP::$issuer_included_as_parameter is assigned outside of the constructor.
			identifier: property.readOnlyByPhpDocAssignNotInConstructor
			count: 2
			path: ../src/OTP.php

		-
			rawMessage: @@readonly property OTPHP\OTP::$parameters is assigned outside of the constructor.
			identifier: property.readOnlyByPhpDocAssignNotInConstructor
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: @@readonly property cannot have a default value.
			identifier: property.readOnlyByPhpDocDefaultValue
			count: 4
			path: ../src/OTP.php

		-
			rawMessage: Binary operation "&" between mixed and 127 results in an error.
			identifier: binaryOp.invalid
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: Binary operation "&" between mixed and 15 results in an error.
			identifier: binaryOp.invalid
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: Binary operation "&" between mixed and 255 results in an error.
			identifier: binaryOp.invalid
			count: 3
			path: ../src/OTP.php

		-
			rawMessage: '''
				Call to deprecated method setParameter() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withParameter()} instead
			'''
			identifier: method.deprecated
			count: 6
			path: ../src/OTP.php

		-
			rawMessage: '''
				Call to deprecated method setSecret() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withSecret()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Language construct isset() should not be used.'
			identifier: ergebnis.noIsset
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::at() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::compareOTP() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::filterOptions() has parameter $options that is passed by reference.'
			identifier: ergebnis.noParameterPassedByReference
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::filterOptions() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::generateOTP() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::generateSecret() should return non-empty-string but returns string.'
			identifier: return.type
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::generateURI() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::getDigest() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::getDigits() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::getIssuer() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::getIssuer() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::getLabel() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::getLabel() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::getParameter() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::getParameterMap() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::getParameters() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::getQrCodeUri() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::getSecret() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::hasParameter() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::isIssuerIncludedAsParameter() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::setDigest() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::setDigits() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::setIssuer() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::setIssuerIncludedAsParameter() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::setLabel() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::setParameter() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::setSecret() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::withDigest() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::withDigits() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::withIssuer() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::withIssuerIncludedAsParameter() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::withLabel() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::withParameter() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTP::withSecret() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Variable property access on $this(OTPHP\OTP).'
			identifier: property.dynamicName
			count: 1
			path: ../src/OTP.php

		-
			rawMessage: 'Method OTPHP\OTPInterface::getIssuer() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/OTPInterface.php

		-
			rawMessage: 'Method OTPHP\OTPInterface::getLabel() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/OTPInterface.php

		-
			rawMessage: 'Method OTPHP\OTPInterface::verify() has parameter $input with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/OTPInterface.php

		-
			rawMessage: 'Method OTPHP\OTPInterface::verify() has parameter $input with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/OTPInterface.php

		-
			rawMessage: 'Method OTPHP\OTPInterface::verify() has parameter $window with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/OTPInterface.php

		-
			rawMessage: 'Method OTPHP\OTPInterface::verify() has parameter $window with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/OTPInterface.php

		-
			rawMessage: '''
				Call to deprecated method setDigest() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withDigest()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: '''
				Call to deprecated method setDigits() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withDigits()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: '''
				Call to deprecated method setEpoch() of class OTPHP\TOTP:
				Deprecated since v11.4, use {@see self::withEpoch()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: '''
				Call to deprecated method setParameter() of class OTPHP\OTP:
				Deprecated since v11.4, use {@see self::withParameter()} instead
			'''
			identifier: method.deprecated
			count: 2
			path: ../src/TOTP.php

		-
			rawMessage: '''
				Call to deprecated method setPeriod() of class OTPHP\TOTP:
				Deprecated since v11.4, use {@see self::withPeriod()} instead
			'''
			identifier: method.deprecated
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 4
			path: ../src/TOTP.php

		-
			rawMessage: Class "OTPHP\TOTP" is not allowed to extend "OTPHP\OTP".
			identifier: ergebnis.noExtends
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: Constructor in OTPHP\TOTP has parameter $clock with default value.
			identifier: ergebnis.noConstructorParameterWithDefaultValue
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Language construct isset() should not be used.'
			identifier: ergebnis.noIsset
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::__construct() has parameter $clock with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::__construct() has parameter $clock with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::create() has parameter $clock with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::create() has parameter $clock with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::create() has parameter $secret with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::create() has parameter $secret with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::createFromSecret() has parameter $clock with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::createFromSecret() has parameter $clock with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::filterOptions() has parameter $options that is passed by reference.'
			identifier: ergebnis.noParameterPassedByReference
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::generate() has parameter $clock with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::generate() has parameter $clock with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::verify() has parameter $leeway with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::verify() has parameter $leeway with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::verify() has parameter $timestamp with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTP::verify() has parameter $timestamp with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/TOTP.php

		-
			rawMessage: 'Method OTPHP\TOTPInterface::create() has parameter $secret with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/TOTPInterface.php

		-
			rawMessage: 'Method OTPHP\TOTPInterface::create() has parameter $secret with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/TOTPInterface.php

		-
			rawMessage: 'Parameter #2 $host of class OTPHP\Url constructor expects non-empty-string, string given.'
			identifier: argument.type
			count: 1
			path: ../src/Url.php

		-
			rawMessage: 'Parameter #3 $path of class OTPHP\Url constructor expects non-empty-string, string given.'
			identifier: argument.type
			count: 1
			path: ../src/Url.php

		-
			rawMessage: 'Parameter #4 $secret of class OTPHP\Url constructor expects non-empty-string, array<mixed>|string given.'
			identifier: argument.type
			count: 1
			path: ../src/Url.php

		-
			rawMessage: 'Parameter #5 $query of class OTPHP\Url constructor expects array<non-empty-string, mixed>, array<int|string, array<mixed>|string> given.'
			identifier: argument.type
			count: 1
			path: ../src/Url.php
