<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="../tests/bootstrap.php"
    colors="true"
    xsi:noNamespaceSchemaLocation="phpunit.xsd"
    cacheDirectory=".phpunit.cache"
>
<coverage/>
<testsuites>
    <testsuite name="CBOR Test Suite">
        <directory>./../tests</directory>
    </testsuite>
</testsuites>
<php>
    <ini name="display_errors" value="1" />
    <ini name="error_reporting" value="-1" />
    <server name="APP_ENV" value="test" force="true" />
    <server name="SHELL_VERBOSITY" value="-1" />
</php>
  <source>
    <include>
      <directory>./../src</directory>
    </include>
  </source>
  <extensions>
    <bootstrap class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>
  </extensions>
</phpunit>
