{% if authError %}
<p>{{ authError }}</p>
{% endif %}

<ul>
<li><a href="{{ path("_security_logout") }}">Logout</a></li>
<li><a href="{{ path("2fa_login_check") }}?_auth_code=1">Send Correct 2FA</a></li>
<li><a href="{{ path("2fa_login_check") }}?_auth_code=0">Send Wrong 2FA</a></li>
</ul>
